* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.banner-container {
    background-image: url(../images/banner/banner3.png);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: right;
    text-align: right;
    background-repeat: no-repeat;
}

.banner-details {
    margin-right: 230px;
    margin-top: 216px;
}

/* banner styles */
.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    width: 494px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 21px 25px;
    border-radius: 5px;
    border: none;
    margin-top: 28px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

/* my failure section styles */
.previous-year-container {
    display: flex;
    gap: 87px;
    align-items: center;
    justify-content: space-around;
}

.preyr-description {
    margin-right: 322px;
}

.preyr-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.preyr-details {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.preyr-description ul {
    width: 349px;
    height: 162px;
    list-style: none;
    color: #444343;
}

ul li:before {
    content: '✓';
    margin-right: 10px;
}

/* my plans styles */
.my-plans h4 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.myplans-container {
    display: flex;
    justify-content: space-around;
    gap: 86px;
}

.item-title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #151414;
    margin-top: 24px;
    margin-bottom: 16px;
}

.item-description {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #737272;
}

/* call now section styles */
.call-now {
    background-image:
    linear-gradient(to left, rgba(0, 95, 172, 0), rgb(0, 95, 172)),
    url('../images/watch.png');
    height: 300px;
    border-radius: 8px;
}

.clnow-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-left: 64px;
    padding-top: 59px;
}